

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{params['title']}}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{url_for('static', filename= 'vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename= 'css/clean-blog.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{url_for('static', filename= 'css/clean-blog.css') }}" rel="stylesheet" type="text/css">


  <link href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css' rel='stylesheet' type='text/css'>
  <link href='https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css' rel='stylesheet' type='text/css'>


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/dashboard">{{params['brand_name']}}</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/post/first-post"></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Header -->
<header class="masthead" style="background-image: url('{{url_for('static', filename= 'img/dashboard.jpg')}}')">
    <div class="overlay">

    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2>Admin Dashboard</h2>
            <span class="subheading">{{params['tagline']}}</span>
            <a href="/logout" class="btn btn-danger">logout</a>

        </div>
          
        </div> 
        

      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-12 mx-auto">
        <h4 class="text-center"><b>Control Blog Data</b></h4>
        <br>
        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-header">Show All Posts</div>
              <div class="card-body">
                <h5 class="card-title">Edit / Delete Blog.</h5>
                <a href="/post_show" class="btn btn-warning">Blog Table</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-header">Show Messages</div>
              <div class="card-body">
                <h5 class="card-title">Messages Recived</h5>
                <a href="/message_show" class="btn btn-warning">Message Table</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-header">Add New Blog</div>
              <div class="card-body">
                <h5 class="card-title">Add new posts here</h5>
                <a href="/add_blog" class="btn btn-success">Add Blog</a>
              </div>
            </div>
          </div>
        </div>
          
          
          
          
          
          
          

          </div>
          </div>

       
        
        <!-- Pager -->
        <!-- <div class="clearfix">
          <a class="btn btn-light btn-sm float-right" href="#">Next Blog &rarr;</a>
          <a class="btn btn-light btn-sm float-left" href="#">&larr; Previous Blog </a>

        </div> -->
      </div>
    </div>
  </div>
  <hr>

   <!-- Footer -->
   <footer>
     <div class="container">
       <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
           <ul class="list-inline text-center">
             
             <li class="list-inline-item">
               <a href="{{params['fb_url']}}" target="_blank">
                 <span class="fa-stack fa-lg">
                   <i class="fas fa-circle fa-stack-2x"></i>
                   <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                 </span>
               </a>
             </li>
             <li class="list-inline-item">
              <a href="{{params['tw_url']}}" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="{{params['insta_url']}}" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="{{params['linkedin_url']}}" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            
             <li class="list-inline-item">
               <a href="{{params['git_url']}}" target="_blank">
                 <span class="fa-stack fa-lg">
                   <i class="fas fa-circle fa-stack-2x"></i>
                   <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                 </span>
               </a>
             </li>
           </ul><br>
           <p class="copyright text-muted">Copyright &copy; {{params['brand_name']}} 2021-2022</p>
         </div>
       </div>
     </div>
   </footer>
 
   <!-- Bootstrap core JavaScript -->
   <script src="{{url_for('static', filename= 'vendor/jquery/jquery.min.js') }}"></script>
   <script src="{{url_for('static', filename= 'vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
 
   <!-- Custom scripts for this template -->
   <script src="{{url_for('static', filename= 'js/clean-blog.min.js') }}"></script>
 

   <script src="https://code.jquery.com/jquery-3.5.1.js"> </script>
   <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"> </script>
   <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"> </script>
<script>
  $(document).ready(function() {
    $('#example').DataTable();
} );
</script>
 </body>
 
 </html>
 
 
